In [1]:
import sklearn

In [2]:
print(sklearn.__version__)

0.22.2.post1

In [3]:
from google.colab import drive

In [4]:
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd

df=pd.read_csv('drive/MyDrive/BacteriaFolder/bacteria.csv')
df=df.fillna(0)
df.head()

    Ethyl Acetate  Ethanol  ...  Indole  Strain
0        465374.0  1027715  ...     0.0    SA_A
1        193151.0  1050974  ...     0.0    SA_A
2        403286.0  1850391  ...     0.0    SA_A
3        129833.0  5140770  ...     0.0    SA_A
4        117105.0  3422557  ...     0.0    SA_A

[5 rows x 68 columns]

In [10]:
from sklearn import preprocessing

# convert df to numpy array
df=df.to_numpy()

# split into training and test set
X = df[:, :-1] # for all but last column

# normalise X
# norm = np.linalg.norm(X)
# X = X/norm

# import the last column
raw_y = df[:, -1] 

# label encode the y values
le = preprocessing.LabelEncoder()
le.fit(raw_y)
y=le.transform(raw_y)

X=X.astype(dtype=int)
y=y.astype(dtype=int)

In [11]:
print(X.shape, y.shape)

(84, 67) (84,)

In [12]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.ensemble import RandomForestClassifier

In [13]:
model = RandomForestClassifier()

In [14]:
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [15]:
n_scores = cross_val_score(model, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.775 (0.111)